/// Vertically centers an item with absolute positioning. Make sure parent is `position: relative`.
///
/// @group 03-positioning
///
/// @example scss - Sample Usage
///  .box {
///    position: relative;
///  }
///
///  .box__item--vertical-center {
///    @include vertical-center;
///  }
///
/// @example html
///  <div class="box">
///    <div class="box__item box__item--vertical-center"></item>
///  </div>
@mixin vertical-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/// Horizontally centers an item with absolute positioning. Make sure parent is `position: relative`.
///
/// @group 03-positioning
///
/// @example scss - Sample Usage
///  .box {
///    position: relative;
///  }
///
///  .box__item--horizontal-center {
///    @include horizontal-center;
///  }
///
/// @example html
///  <div class="box">
///    <div class="box__item box__item--horizontal-center"></item>
///  </div>
@mixin horizontal-center {
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}

/// Horizontally and vertically centers an item with absolute positioning. Make sure parent is `position: relative`.
///
/// @group 03-positioning
///
/// @example scss - Sample Usage
///  .box {
///    position: relative;
///  }
///
///  .box__item--absolute-center {
///    @include absolute-center;
///  }
///
/// @example html
///  <div class="box">
///    <div class="box__item box__item--absolute-center"></item>
///  </div>
@mixin absolute-center {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
